@keyframes glow-and-fade {
  0% {
    background-color: yellow;
    opacity: 1;
  }
  100% {
    background-color: #cacaca;
    opacity: 0.55;
  }
}

.on3-sanifier-hidden-thread,
.on3-sanifier-hidden-post {
  display: none !important;
}

body.on3san-show-all .on3-sanifier-hidden-thread {
  display: table !important;
  animation: glow-and-fade 0.5s forwards;
}

body.on3san-show-all .on3-sanifier-hidden-post {
  display: block !important;
  animation: glow-and-fade 0.5s forwards;
}

body.on3san-show-all .on3-sanifier-super-ignored-post {
  display: none !important;
}

.on3san-toolbar {
  background-color: #fe3b1f;
  color: #efefef;
  align-items: center;
  display: flex;
  gap: 8px;
  padding: 8px;
}

#on3OpenTabs {
  margin-left: 16px;
}


.on3san-toolbar img {
  background-color: #fff;
  border-radius: 4px;
  padding: 4px;
}

.on3san-toolbar .ignore-thread-button.mdc-button--raised {
  background-color: #ffeb3b;
}

.on3san-toolbar .ignore-thread-button.mdc-button--unelevated {
  background-color: #c8e6c9;
}