@keyframes glow-and-fade {
  0% {
    background-color: yellow;
    opacity: 1;
  }
  100% {
    background-color: #cacaca;
    opacity: 0.55;
  }
}

.on3-sanifier-hidden-thread,
.on3-sanifier-hidden-post {
  display: none !important;
}

body.on3san-show-all .on3-sanifier-hidden-thread {
  display: table !important;
  animation: glow-and-fade 0.5s forwards;
}

body.on3san-show-all .on3-sanifier-hidden-post {
  display: block !important;
  animation: glow-and-fade 0.5s forwards;
}

.on3san-toolbar {
  padding: 10px;
  margin: 10px 0;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  text-align: center;
}

