@use "@material/theme" with (
  $primary: #e41c38
);

@use "@material/typography" with (
  $styles-button: (
    font-size: 16px,
    text-transform: none,
  )
);

@use "@material/button/styles";
@use "@material/card";
@use "@material/chips/styles" as chips-styles;
@use "@material/floating-label";
@use "@material/floating-label/mdc-floating-label";
@use "@material/icon-button/styles" as icon-button-styles;
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/line-ripple";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/ripple";
@use "@material/textfield";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/typography/mdc-typography";
@use '@material/switch/styles' as switch-styles;
@use "@material/snackbar/mdc-snackbar";

@include card.core-styles;
@include textfield.core-styles;
@include floating-label.core-styles;
@include notched-outline.core-styles;
@include line-ripple.core-styles;
@include ripple.core-styles;

